<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <classPathEntry location="C:\Users\BRAYAN\practicas2018_1\practica\WebContent\WEB-INF\lib\mysql-connector-java-5.1.18-bin.jar" />

  <context id="MyIbatis" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
        connectionURL="jdbc:mysql://localhost:3307/practicaPPI"
        userId="root"
        password="root">
    </jdbcConnection>

    <javaModelGenerator targetPackage="com.practica.dao.general.model" targetProject="practica/src" />
    <sqlMapGenerator targetPackage="com.practica.dao.general.map" targetProject="practica/src" />
    <javaClientGenerator targetPackage="com.practica.dao.general.map" targetProject="practica/src" type="XMLMAPPER" />
    <table schema="practicaPPI" tableName="usuario"><property name="useActualColumnNames" value="true"/></table>
    
  </context>
</generatorConfiguration>