<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans">
		
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
		<property value="com.mysql.jdbc.Driver" name="driverClassName" />
		<property value="jdbc:mysql://localhost:3307/practicaPPI" name="url" />
		<property value="root" name="username" />
		<property value="root" name="password" />
	</bean>

	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="txManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="personaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.practica.dao.general.map.PersonaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>	
	<bean id="usuarioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.practica.dao.general.map.UsuarioMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>	
	
	<bean id="cargoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.practica.dao.coordinacion.map.CargoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>	
	<bean id="empresaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.practica.dao.coordinacion.map.EmpresaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>	
	<bean id="hojaVidaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.practica.dao.coordinacion.map.HojaVidaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>	
	<bean id="practicaEstuMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.practica.dao.coordinacion.map.PracticaEstudianteMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>	
	<bean id="programaAcadMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.practica.dao.coordinacion.map.ProgramaAcademicoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>	
	
</beans>